.header{
	background-color: red;
}

.projects{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-family: 'Khula', sans-serif;
}
.project{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 33%;
}
.thumbnail{
	width: 100%;
}
.button{
	margin: 0px 5px 0px 5px;
}

.contact{
	background-color: red;
}