/**********************Variables**********************/
$text-colour: black;
$active-colour: white;
$lighter-text: lighten($text-colour, 20%);
$header-background: #ff0000;
$section-background: darken(white, 1%);

$biggest: 3em;
$bigger: 2em;
$big: 1.2em;
$small: 0.9em;

$breakpoint: 600px;

/**********************Mixins**********************/
@mixin linearGradient($top, $bottom) {
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
}

/**********************General**********************/
body {
	font-family: 'Khula', sans-serif;
	font-size: 1em;
	scroll-behavior: smooth;
	text-align: center;
	color: black;
	a {
		text-decoration: none;
	}
}
h1 {
	font-size: $biggest;
	margin: 0;
}
h2 {
	font-size: $bigger;
	margin: 0;
}
hr {
	width: 80%;
	border: 1px solid $header-background;
	border-radius: 3px;
}
.header-text {
	padding-top: 30px; //stops section headers going behind the menu
}

/**********************Nav menu**********************/
.navigation {
	background-color: $header-background;
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	a {
		color: $text-colour;
		padding-left: 5px;
		padding-right: 5px;
		transition: all 0.3s ease-in;
		&:hover {
			color: $active-colour;
		}
	}
}
#avatar {
	height: 30px;
	border: 1px solid $header-background;
}
.nav-icon {
	color: black;
	cursor: pointer;
	display: none;
	@media screen and (max-width: $breakpoint) {
		display: block;
	}
}
.nav-link {
	display: inline-block;
	@media screen and (max-width: $breakpoint) {
		//display: none;
		opacity: 0;
		display: flex;
		flex-direction: column;
	}
}
#links {
	background-color: transparent;
	@media screen and (max-width: $breakpoint) {
		position: absolute;
		top: 20px;
		right: 0;
		//width: 100%;
		//text-align: right;
	}
}
.show {
	opacity: 1;
	background-color: $header-background;
}

/**********************Header**********************/
.header {
	position: relative;
	@include linearGradient($header-background, rgba($header-background, 0.4));
	text-align: center;
	color: $text-colour;
}

/**********************About**********************/
#about {
	background-color: $section-background;
	a {
		color: $header-background;
		text-decoration: underline;
		&:hover {
			color: $text-colour;
		}
	}
}
#about-header {
	color: $header-background;
}


/**********************Skills**********************/
.skills-icons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.skill {
	padding-left: 10px;
	padding-right: 10px;
}


/**********************Projects**********************/
#projects {
	background-color: $section-background;
}
.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: $lighter-text;
}
#projects-header {
	color: $header-background;
}
.project {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 5px;
	margin-bottom: 10px;
	border: 1px solid $header-background;
	box-shadow: 5px 5px 5px #aaaaaa;
	@media screen and (max-width: 600px) {
		width: 90%
	}
}
.thumbnail {
	width: 100%;
}
.button {
	position: relative;
	margin: 5px;
	border: 2px solid $header-background;
	color: black;
	padding: 2px 5px 2px 5px;
	&:hover {
		border-color: $header-background;
		color: $header-background;
	}
	&:active {
		top: 2px;
		left: 2px;
	}
}
.title {
	font-weight: bold;
	color: $header-background;
}
.tools {
	font-family: 'Space Mono', sans-serif;
	color: lighten($text-colour, 50%);
	font-size: $small;
}
.links {
	margin-top: 10px;
}

/**********************Contact**********************/
.contact {
	@include linearGradient(rgba($header-background, 0.4), $header-background);
	text-align: center;
	a {
		color: $text-colour;
	}
}
.contact-icon {
	padding-left: 5px;
	padding-right: 5px;
}