body{
	font-family: 'Khula', sans-serif;
	scroll-behavior: smooth;
	text-align: center;
	color: black;
	a{
		text-decoration: none;
	}
}
h1{
	font-size: 3em;
	margin: 0;
}
h2{
	font-size: 2em;
	margin: 0;
}

.navigation{
	background-color: #FF6161;
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	@media screen and (max-width: 600px){
		flex-direction: column;
		align-items: flex-end;
	}
	a{
		color: black;
		padding-left: 5px;
		padding-right: 5px;
		transition: all 0.3s ease-in;
		&.active{
			color: white;
		}
	}
}
.nav-icon{
	color: black;
	cursor: pointer;
	display: none;
	@media screen and (max-width: 600px){
		display: block;
	}
}
.nav-link{
	@media screen and (max-width: 600px){
		display: none;
	}
}
.show{
	display: block;
}

.header{
	position: relative;
	background-color: #FF6161;
	text-align: center;
	color: black;
	//width: 100%;
	//height: 100%;
	//background: linear-gradient(to top left, white 0%, white 50%, red 50%, red 100%);
}
#avatar{
	position: absolute;
	top: 0px;
	left: 0;
}
/*.name{
	font-size: 3em;
}*/
.about{
	font-size: 1.2em;
}

#projects{
	background-color: darken(white, 1%);
}
.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	//text-align: center;
	color: lighten(black, 20%);
}
#projects-header{
	color: #FF6161;
}
.project{
	display: flex;
	flex-direction: column;
	//justify-content: space-between;
	//flex-basis: 33%;
	width: 45%;
	//border: 2px solid gray;
	margin: 2px;
	//background-color: darken(white, 2%);
	@media screen and (max-width: 400px){
		width: 90%
	}
}
.thumbnail{
	width: 100%;
}
.button{
	position: relative;
	margin: 5px;
	//background-color: red;
	border: 2px solid #FF6161;
	color: black;
	padding: 2px 5px 2px 5px;
	&:hover{
		//background-color: darken(white, 2%);
		border-color: #FF6161;
		color: #FF6161;
	}
	&:active{
		top: 2px;
		left: 2px;
	}
}
.title{
	font-weight: bold;
	color: #FF6161;
}
.tools{
	font-family: 'Space Mono', sans-serif;
	color: gray;
	font-size: 0.9em
}
.links{
	margin-top: 10px;
}

.contact{
	background-color: #FF6161;
	text-align: center;
	//width: 100%;
	//height: 100%;
	//background: linear-gradient(to bottom right, white 0%, white 50%, red 50%, red 100%);
	//font-size: 1.5em;
	a{
		color: black;
	}
}
.icon{
	padding-left: 5px;
	padding-right: 5px;
}