.about__title {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary-colour;
  text-align: center;
}

.about__text {
  margin-bottom: .75em;
}

.about__image {
  height: 1rem;
}

.about__content {

  @include breakpoint-up(medium){
    display: flex;
  }

  @include breakpoint-up(large){
    display: flex;
    justify-content: center;
  }
}

.about__paragraphs {
  max-width: 60ch;

  @include breakpoint-up(medium){
    margin-right: 2em;
  }
}

.about__link a {
  position: relative;

  &::after {
     content: '';
    position: absolute;
    left: -10%;
    bottom: 4px;
    height: 2px;
    width: 105%;
    background-color: $primary-colour;
    transform: skew(-24deg) scaleX(0) rotate(-.5deg);
    transform-origin: right;
    transition: transform 200ms ease-in;  
  }

  &:hover::after {
    transform: skew(-24deg) scaleX(1) rotate(-.5deg);
    transform-origin: left;
  }
}