#about a {
  color: $primary-colour;
}

.about__title {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary-colour;
  text-align: center;
}

.about__text {
  margin-bottom: .75em;
}

.about__image {
  height: 1rem;
}

.about__content {
  @include breakpoint-up(medium){
    display: flex;
  }
}

.about__paragraphs {
  max-width: 60ch;

  @include breakpoint-up(medium){
    margin-right: 2em;
  }
}