#contact {
  @include spacing(padding, $top: 0.75em, $bottom: 0.5em);

  background-color: $background-colour;
  background-image: url('imgs/background.jpg');
  background-position: -6em bottom;
  background-size: cover;
  max-height: 7em;

  @include text($align: right);
}

.contact__icon {
  @include spacing(margin, $left: 1em);
  display: inline-block;

  & a {
    align-items: center;

    /* use flex to centre image inside link
    - need inline to make it not fill the width */
    display: inline-flex;
    justify-content: center;
    padding: 6px; // to make sure all icons have at least 44px target
  }

  & img {
    filter: invert(78%) sepia(12%) saturate(844%) hue-rotate(185deg)
      brightness(94%) contrast(83%);
    height: 32px;
    width: 32px;
  }
}

.contact__icons a:hover,
.contact__icons a:focus {
  @include text($colour: $primary-colour);

  & img {
    filter: invert(20%) sepia(64%) saturate(5504%) hue-rotate(348deg)
      brightness(100%) contrast(89%);
  }
}
