html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Khula', sans-serif;
  font-size: 100%;
  line-height: 1.6;
}

ul, li, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  //padding-left: 2em;
  //padding-right: 2em;
  width: 90%;
  margin: 0 auto;
}

//We'll change the hover and visited colours/effects later
a, a:hover, a:visited {
  color: $secondary-colour;
  text-decoration: none;
}