@font-face {
  font-family: Khula;
  font-weight: 300;
  src: url('./fonts/Khula/Khula-Light.ttf');
}

@font-face {
  font-family: Khula;
  font-weight: 400;
  src: url('./fonts/Khula/Khula-Regular.ttf');
}

@font-face {
  font-family: Khula;
  font-weight: 600;
  src: url('./fonts/Khula/Khula-SemiBold.ttf');
}

@font-face {
  font-family: Khula;
  font-weight: 700;
  src: url('./fonts/Khula/Khula-Bold.ttf');
}

@font-face {
  font-family: Merienda;
  font-weight: 400;
  src: url('./fonts/Merienda/Merienda-Regular.ttf');
}

html {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include spacing(margin, $top: 0, $right: 0, $bottom: 0, $left: 0);
  @include spacing(padding, $top: 0, $right: 0, $bottom: 0, $left: 0);

  background-color: $section-background-colour;
  font-family: Khula, sans-serif;

  @include text($size: 100%, $line-height: 1.6, $colour: $background-colour);
}

ul,
li,
h1,
h2,
h3,
h4,
p {
  @include spacing(margin, $top: 0, $right: 0, $bottom: 0, $left: 0);
  @include spacing(padding, $top: 0, $right: 0, $bottom: 0, $left: 0);
}

h1 {
  @include text(
    $size: 4rem,
    $line-height: 1,
    $weight: 700,
    $colour: $primary-colour
  );
}

h2 {
  @include text(
    $size: 3rem,
    $line-height: 1,
    $weight: 700,
    $colour: $primary-colour
  );
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a {
  @include text($colour: $secondary-colour);
}

a:focus,
a:hover,
a:visited {
  @include text($colour: $secondary-link-colour-darker);
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration-color: $primary-colour;
  text-underline-offset: 0.25rem;
}

a:focus,
a:hover {
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2em;
}
