header {
  padding-bottom: .5em;
  background-image: url("imgs/background.jpg");
  background-size: cover;
  max-height: 15em;
}

nav {
  background-color: white;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.75) 75%, rgba(255,255,255,0) 100%);
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav__links {
  display: flex;
}

.nav__link {
  list-style-type: none;
  padding-right: 1.5em;
  font-weight: 700;
}

.header__title {
  padding-top: 3em;
  font-family: 'Merienda', cursive;
  line-height: 1.2;
}

h1 {
  color: $primary-colour;
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}