header {
  @include spacing(padding, $bottom: 0.5em);

  background-image: url('../imgs/background.jpg');
  background-size: cover;
  max-height: 15em;
}

nav {
  @include spacing(padding, $top: 1em, $bottom: 0.5em);

  background: linear-gradient(
    90deg,
    rgb(255 255 255 / 100%) 0%,
    rgb(255 255 255 / 75%) 75%,
    rgb(255 255 255 / 0%) 100%
  );
  background-color: white;
}

.nav__links {
  display: flex;
}

.nav__link {
  list-style-type: none;
  position: relative;

  @include spacing(margin, $right: 1.5em);
  @include text($weight: 700);
}

.header__title {
  @include spacing(padding, $top: 3em);

  font-family: Merienda, cursive;

  @include text($line-height: 1.2);

  p {
    @include text(
      $size: 2rem,
      $weight: 400,
      $colour: $section-background-colour
    );
  }
}
