$breakpoints-up: ("small": "376px", "medium": "1050px", "large": "1400px");

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin link-after($left, $bottom, $height, $width, $bgcolour) {
  content: '';
  position: absolute;
  left: $left;
  bottom: $bottom;
  height: $height;
  width: $width;
  background-color: $bgcolour;  
  transition: transform 300ms ease-in-out;
}