.projects__title {
  @include spacing(margin, $top: 2em, $bottom: 0.5em);
  @include text($align: center);
}

.projects__fem {
  @include spacing(margin, $bottom: 2em);
  @include text($align: center);
}

.project {
  @include spacing(padding, $bottom: 5em);

  max-width: calc(#{$project-image-width} + #{$text-width});

  &:last-of-type {
    @include spacing(padding, $bottom: 2em);
  }

  @include breakpoint-up(medium) {
    margin: 0 auto;
  }
}

.projects__info {
  @include breakpoint-up(medium) {
    display: flex;
    gap: 1rem;
  }
}

.project:nth-of-type(2n) .projects__image {
  @include breakpoint-up(medium) {
    order: 1;
  }
}

.projects__text {
  max-width: $text-width;

  @include breakpoint-up(medium) {
    @include text($align: left);

    width: 60%;
  }
}

.projects__image {
  @include text($align: center);

  @include breakpoint-up(medium) {
    @include text($align: unset);
    @include spacing(margin, $left: 1em, $right: 1em);

    width: 40%;
  }
}

.projects__header {
  @include spacing(bottom, $bottom: 0.5em);
  @include text($size: 2rem, $align: center);
}

.projects__date {
  font-style: italic;
}

.projects__about a {
  position: relative;
  white-space: nowrap; // because otherwise the after looks terrible
}

.projects__note {
  font-style: italic;
}

.projects__languages {
  // adding the left margin here to make space for the bullets
  @include spacing(margin, $top: 0.5em, $left: 12px);
  @include text($weight: 300);
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;

  li {
    &::marker {
      color: $primary-colour;
    }
  }
}

.projects__buttons {
  display: flex;
  justify-content: center;

  @include spacing(margin, $top: 0.5em);

  @include breakpoint-up(medium) {
    @include text($align: left);

    justify-content: flex-start;
  }
}

.projects__buttons a {
  text-decoration: none;
}

.projects__button {
  background: white;
  border: 2px solid $secondary-colour;
  cursor: pointer;
  position: relative;
  transition: color 300ms ease-in-out;
  z-index: 1;

  @include spacing(
    padding,
    $top: 1em,
    $right: 1.5em,
    $bottom: 0.5em,
    $left: 1.5em
  );
  @include text(
    $size: 0.75rem,
    $weight: 600,
    $colour: $secondary-colour,
    $transform: uppercase
  );

  &:not(:last-of-type) {
    @include spacing(margin, $right: 2em);
  }

  &::after {
    @include link-after(0, 0, 100%, 100%, $secondary-colour);

    transform: scale(0);
    transform-origin: top right;
    z-index: -1;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1);
    transform-origin: bottom left;
  }

  &:hover,
  &:focus {
    @include text($colour: white);
  }

  &:active {
    position: relative;
    top: 2px;
  }
}
