.spacer {
  background-color: var(--background-colour);
  background-image: url('../imgs/background.jpg');
  background-position: center;
  background-size: cover;
  height: 1em;

  @include spacing(margin, $left: auto, $right: auto);
}
