$primary-colour: #f1262e;
$secondary-colour: #101c65;
$secondary-link-colour: #a2b5dd;
$secondary-link-colour-darker: #5d69b2;
$background-colour: #070b0c;

$text-width: 60ch;
$project-image-width: 320px;
