/**********************Variables**********************/
/**********************Mixins**********************/
/**********************General**********************/
body {
  font-family: 'Khula', sans-serif;
  font-size: 1em;
  scroll-behavior: smooth;
  text-align: center;
  color: black; }
  body a {
    text-decoration: none; }

h1 {
  font-size: 3em;
  margin: 0; }

h2 {
  font-size: 2em;
  margin: 0; }

hr {
  width: 80%;
  border: 1px solid #ff0000;
  border-radius: 3px; }

.header-text {
  padding-top: 30px; }

/**********************Nav menu**********************/
.navigation {
  background-color: #ff0000;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1; }
  .navigation a {
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s ease-in; }
    .navigation a:hover {
      color: white; }

#avatar {
  height: 30px;
  border: 1px solid #ff0000; }

.nav-icon {
  color: black;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 600px) {
    .nav-icon {
      display: block; } }

.nav-link {
  display: inline-block; }
  @media screen and (max-width: 600px) {
    .nav-link {
      opacity: 0;
      display: flex;
      flex-direction: column; } }

#links {
  background-color: transparent; }
  @media screen and (max-width: 600px) {
    #links {
      position: absolute;
      top: 20px;
      right: 0; } }

.show {
  opacity: 1;
  background-color: #ff0000; }

/**********************Header**********************/
.header {
  position: relative;
  background: #ff0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ff0000 0%, rgba(255, 0, 0, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, rgba(255, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff0000 0%, rgba(255, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff0000 0%, rgba(255, 0, 0, 0.4) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff0000 0%, rgba(255, 0, 0, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff0000 0%, rgba(255, 0, 0, 0.4) 100%);
  /* W3C */
  text-align: center;
  color: black; }

/**********************About**********************/
#about {
  background-color: #fcfcfc; }
  #about a {
    color: #ff0000;
    text-decoration: underline; }
    #about a:hover {
      color: black; }

#about-header {
  color: #ff0000; }

/**********************Skills**********************/
.skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.skill {
  padding-left: 10px;
  padding-right: 10px; }

/**********************Projects**********************/
#projects {
  background-color: #fcfcfc; }
  #projects a {
    color: #ff0000;
    text-decoration: underline; }
    #projects a:hover {
      color: black; }

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #333333; }

#projects-header {
  color: #ff0000; }

.project {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid #ff0000;
  box-shadow: 5px 5px 5px #aaaaaa; }
  @media screen and (max-width: 600px) {
    .project {
      width: 90%; } }
  @media screen and (min-width: 1400px) {
    .project {
      width: 20%; } }

.thumbnail {
  width: 100%; }

.button {
  position: relative;
  margin: 5px;
  border: 2px solid #ff0000;
  color: black;
  padding: 2px 5px 2px 5px; }
  .button:hover {
    border-color: #ff0000;
    color: #ff0000; }
  .button:active {
    top: 2px;
    left: 2px; }

.title {
  font-weight: bold;
  color: #ff0000; }

.tools {
  font-family: 'Space Mono', sans-serif;
  color: gray;
  font-size: 0.9em; }

.links {
  margin-top: 10px; }

/**********************Contact**********************/
.contact {
  background: rgba(255, 0, 0, 0.4);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 0, 0, 0.4) 0%, #ff0000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 0, 0, 0.4)), color-stop(100%, #ff0000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.4) 0%, #ff0000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 0, 0, 0.4) 0%, #ff0000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 0, 0, 0.4) 0%, #ff0000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.4) 0%, #ff0000 100%);
  /* W3C */
  text-align: center; }
  .contact a {
    color: black; }

.contact-icon {
  padding-left: 5px;
  padding-right: 5px; }

/*# sourceMappingURL=styles.css.map */
